@import '../../universal/colors';

.alert {
  background-color: $light-blue;
  padding: 15px;

  &.alert-success {
    background-color: $light-green;
  }

  &.alert-warn {
    background-color: $light-yellow;
  }

  &.alert-error {
    background-color: $light-red;
  }
}
