@import '../../universal/colors';

.button {
  background-color: $primary;
  border: none;
  color: $white;
  cursor: pointer;
  opacity: 1;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-out;
  width: 100%;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button::-moz-focus-inner {
  border: 0;
}

.button:active {
  opacity: 1;
}
