{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/declaration-block-order": [
      "custom-properties",
      "declarations"
    ],
    "order/declaration-block-properties-alphabetical-order": true
  }
}
