const secrets = {
  DUO_AKEY: '',
  DUO_IKEY: '',
  DUO_SKEY: '',
  DUO_HOST: '',
  YUBIKEY_AES_KEY: '',
  YUBIKEY_UID: '',
  YUBIKEY_API_CLIENT_ID: '',
  YUBIKEY_API_SECRET_KEY: '',
  SENTRY_DSN: ''
};

module.exports = secrets;
