@import 'colors';
@import 'fonts';
@import 'spacing';

.text--field-header {
  color: $gray-50;
  font-family: montserrat-regular, sans-serif;
  font-size: $kilo;
  letter-spacing: 0.08em;
  margin-bottom: $spacing-tiny;
  text-transform: uppercase;
}
